
@{
    Layout = "_Layout";
    ViewData["Title"] = "ChatBot";
}
@using System.Globalization
@section OptionalCSS
{
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
    <link href="~/css/chatBot.css" rel="stylesheet" type="text/css" />
    <link href="~/css/robot.css" rel="stylesheet" type="text/css" />
}

<canvas id="bg"></canvas>
<main>
    <h2 id="title"><span class="sp">CHAT</span>WITH<span class="sp">ROBOT READY !</span></h2>
    <div class="chat-screen">
        <div class="chat-header">
            <div class="chat-header-title">
                Discuss? - We are online
            </div>
            <div class="chat-header-option hide ">
                <span class="dropdown custom-dropdown">
                    <a class="dropdown-toggle " href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                    </a>
                    <div class="dropdown-menu " aria-labelledby="dropdownMenuLink1" style="will-change: transform;">
                        <a class="dropdown-item lang-en" href="javascript:void(0);">
                            <img src="~/Images/translator.png" alt="" srcset="">
                            English
                        </a>
                        <a class="dropdown-item lang-fr" href="javascript:void(0);">
                            <img src="~/Images/translator.png" alt="" srcset="">
                            French
                        </a>
                        <a class="dropdown-item lang-sp" href="javascript:void(0);">
                            <img src="~/Images/translator.png" alt="" srcset="">
                            Spanish
                        </a>
                        <a class="dropdown-item lang-ar" href="javascript:void(0);">
                            <img src="~/Images/translator.png" alt="" srcset="">
                            Arabic
                        </a>
                        <a class="dropdown-item end-chat" href="javascript:void(0);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#001aff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                            End chat
                        </a>
                    </div>
                </span>
            </div>
        </div>
        <div class="chat-mail">
            <div class="row">
                <div class="col-md-12 text-center mb-2">
                    <p>Hi 👋! Please fill out the form below to start chatting with the next available agent.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary btn-rounded btn-block">Start chat</button>
                </div>
            </div>
        </div>
        <div class="chat-body hide">
            <div class="chat-start">Chat start at : @DateTime.Now.DayOfWeek.ToString(), @DateTime.Now.ToString("t", CultureInfo.CreateSpecificCulture("en-us"))</div>
            <div class="chat-bubble msg you">Welcome to our site, if you need help just reply to this message, we are online and ready to help you.</div>
            <div id="wait" class="chat-bubble you hide">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto;display: block;shape-rendering: auto;width: 43px;height: 20px;" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                    <circle cx="0" cy="44.1678" r="15" fill="#ffffff">
                        <animate attributeName="cy" calcMode="spline" keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5" repeatCount="indefinite" values="57.5;42.5;57.5;57.5" keyTimes="0;0.3;0.6;1" dur="1s" begin="-0.6s"></animate>
                    </circle>
                    <circle cx="45" cy="43.0965" r="15" fill="#ffffff">
                        <animate attributeName="cy" calcMode="spline" keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5" repeatCount="indefinite" values="57.5;42.5;57.5;57.5" keyTimes="0;0.3;0.6;1" dur="1s" begin="-0.39999999999999997s"></animate>
                    </circle>
                    <circle cx="90" cy="52.0442" r="15" fill="#ffffff">
                        <animate attributeName="cy" calcMode="spline" keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5" repeatCount="indefinite" values="57.5;42.5;57.5;57.5" keyTimes="0;0.3;0.6;1" dur="1s" begin="-0.19999999999999998s"></animate>
                    </circle>
                </svg>
            </div>
        </div>
        <div class="chat-input hide">
            <input type="text" id="chat-input" placeholder="Type a message...">
            <div class="input-action-icon">
                <a id="reco"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-micro"><path d="M16 11c0 2.209-1.791 4-4 4s-4-1.791-4-4v-7c0-2.209 1.791-4 4-4s4 1.791 4 4v7zm4-2v2c0 4.418-3.582 8-8 8s-8-3.582-8-8v-2h2v2c0 3.309 2.691 6 6 6s6-2.691 6-6v-2h2zm-7 13v-2h-2v2h-4v2h10v-2h-4z" /></svg></a>
                <a id="send" data-link="wait"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg></a>
            </div>
        </div>
        <div class="chat-session-end hide">
            <h5>This chat session is over</h5>
            <p>Thank you for chatting with us, If you can take a minute and rate this chat:</p>
            <div class="rate-me">
                <div class="rate-bubble great">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg></span>
                    Awesome
                </div>
                <div class="rate-bubble bad">
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg></span>
                    Bad
                </div>
            </div>
        </div>
    </div>
    <div class="chat-bot-icon">
        <img src="~/Images/we-are-here.svg" />
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square animate"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x "><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </div>
</main>
<section>
    <img id="chatImg" src="~/Images/ChatBot.svg" alt="" srcset="" />
    <div class="boxbot">
        <svg id="svg" viewBox="0 0 1320 300">
            <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                Oracle DataBase
            </text>
        </svg>
        <div class="console-container">
            <span id="text"></span>
            <div class="console-underscore" id="console">&#95;</div>
        </div>
    </div>
</section>

@section OptionalJS
{
    <script src="~/js/robot.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.124/build/three.js"></script>
    <script type="module" src="~/js/three.js"></script>
    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script>
        var langRecord = "en-US"
        var langSpeech = "en-US"
        var langSource = "en"
        $(document).ready(function () {
            //Toggle fullscreen
            $(".chat-bot-icon").click(function (e) {
                $(this).children('img').toggleClass('hide');
                $(this).children('svg').toggleClass('animate');
                $('.chat-screen').toggleClass('show-chat');
            });
            $(".great").click(function (e) {
                $(".chat-bot-icon").children('img').toggleClass('hide');
                $(".chat-bot-icon").children('svg').toggleClass('animate');
                $('.chat-screen').toggleClass('show-chat');
            });
            $(".bad").click(function (e) {
                $(".chat-bot-icon").children('img').toggleClass('hide');
                $(".chat-bot-icon").children('svg').toggleClass('animate');
                $('.chat-screen').toggleClass('show-chat');
            });
            $('.chat-mail button').click(function () {
                $('.chat-mail').addClass('hide');
                $('.chat-body').removeClass('hide');
                $('.chat-input').removeClass('hide');
                $('.chat-header-option').removeClass('hide');
            });
            $('.end-chat').click(function () {
                $('.chat-body').addClass('hide');
                $('.chat-input').addClass('hide');
                $('.chat-session-end').removeClass('hide');
                $('.chat-header-option').addClass('hide');
            });
        });
        //change lang
        $(".lang-fr").click(function (e) {
            e.preventDefault();
            langRecord = "fr-FR"
            langSpeech = "fr-FR"
            langSource = "fr"
        });
        $(".lang-en").click(function (e) {
            e.preventDefault();
            langRecord = "en-US"
            langSpeech = "en-US"
            langSource = "en"
        });
        $(".lang-sp").click(function (e) {
            e.preventDefault();
            langRecord = "es-ES"
            langSpeech = "es-ES"
            langSource = "es"
        });
        $(".lang-ar").click(function (e) {
            e.preventDefault();
            langRecord = "ar-MA"
            langSpeech = "ar-MA"
            langSource = "ar"
        });

        //handle user request
        $('#chat-input').bind("enterKey", function (e) {
            if (langSource != "en") {
                HandleQuestionTranslate();
            } else {
                HandleQuestion();
            }
        });
        $('#chat-input').keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");
            }
        });
        $("#send").on('click', function () {
            if (langSource != "en") {
                HandleQuestionTranslate();
            } else {
                HandleQuestion();
            }
        })
        

        function HandleQuestionTranslate() {
            let inp = $('#chat-input').val();
            const settings = {
                "async": true,
                "crossDomain": true,
                "url": "https://google-translate1.p.rapidapi.com/language/translate/v2",
                "method": "POST",
                "headers": {
                    "content-type": "application/x-www-form-urlencoded",
                    "accept-encoding": "application/gzip",
                    "x-rapidapi-host": "google-translate1.p.rapidapi.com",
                    "x-rapidapi-key": "6053b1a427mshf32f8cf0361edd6p12ce35jsnd27e8bc63dee"
                },
                "data": {
                    "q": inp,
                    "target": "en",
                    "source": langSource
                }
            };
            $.ajax(settings).done(function (Res) {
                console.log(Res);
            if (inp != '') {
                $('#chat-input').val('');
                $(".msg").last().after(getMsg('me', inp));
                $('.chat-body').scrollTop($('.chat-body').prop("scrollHeight"));
                $('#wait').removeClass('hide');
                $('.chat-body').scrollTop($('.chat-body').prop("scrollHeight") + 100);
                $.ajax({
                    type: "post",
                    url: "@Url.Action("ResponseJson", "Robot")",
                    data: { question: Res.data.translations[0].translatedText },
                    dataType: "json",
                    success: function (response) {
                        settings.data.q = response.response
                        settings.data.source = 'en'
                        settings.data.target = langSource
                        $.ajax(settings).done(function (res) {
                            console.log(res);
                            $('#wait').addClass('hide');
                            $(".msg").last().after(getMsg('you', res.data.translations[0].translatedText));
                            $('.chat-body').scrollTop($('.chat-body').prop("scrollHeight") + 100);
                            let speech = new SpeechSynthesisUtterance();
                            speech.lang = langSpeech;
                            speech.text = res.data.translations[0].translatedText;
                            speech.volume = 1;
                            speech.rate = 1;
                            speech.pitch = 1;
                            window.speechSynthesis.speak(speech);
                        });
                    },
                    error: function (response, status, error) {
                        console.log(error.toString())
                    }
                });
                }
            });
        }
        function HandleQuestion() {
            let inp = $('#chat-input').val();
            if (inp != '') {
                $('#chat-input').val('');
                $(".msg").last().after(getMsg('me', inp));
                $('.chat-body').scrollTop($('.chat-body').prop("scrollHeight"));
                $('#wait').removeClass('hide');
                $('.chat-body').scrollTop($('.chat-body').prop("scrollHeight") + 100);
                $.ajax({
                    type: "post",
                    url: "@Url.Action("ResponseJson", "Robot")",
                    data: { question: inp + '.' },
                    dataType: "json",
                    success: function (response) {
                        $('#wait').addClass('hide');
                        $(".msg").last().after(getMsg('you', response.response));
                        $('.chat-body').scrollTop($('.chat-body').prop("scrollHeight") + 100);
                        let speech = new SpeechSynthesisUtterance();
                        speech.lang = langSpeech;
                        speech.text = response.response ;
                        speech.volume = 1;
                        speech.rate = 1;
                        speech.pitch = 1;

                        window.speechSynthesis.speak(speech);
                    },
                    error: function (response, status, error) {
                        console.log(error.toString())
                    }
                });
            }
        }
        $("#reco").on('click', function () {
            // new speech recognition object
            var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
            var recognition = new SpeechRecognition();
            recognition.lang = langRecord;
            // recognition.continuous = true;
            recognition.interimResults = true;
            // This runs when the speech recognition service starts
            recognition.onstart = function () {
                console.log("We are listening. Try speaking into the microphone.");
            };

            recognition.onspeechend = function () {
                // when user is done speaking
                recognition.stop();
            }

            // This runs when the speech recognition service returns result
            recognition.onresult = function (event) {
                console.log("result")
                var transcript = event.results[0][0].transcript;
                $('#chat-input').val(transcript);
            };
            // start recognition
            recognition.start();
        });
        function getMsg(cls, text) {
            return ' <div class="chat-bubble msg ' + cls + '">' + text + '</div>'
        }
    </script>
}
